<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <!--Sticky Footer-->
        <div th:fragment="footer">
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Child Focus 2019</span>
                        <img th:src="@{/images/logo.png}" height="20px" width="20px" alt="Child Focus"/>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
